html {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: #cccccc;
    background: url("Materials/Background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: arial;
    text-align: center;
    position: relative;
    margin: 0;
}
h1 {
    color: rgb(36, 151, 88);
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}
h2 {
    font-weight: bold;
    padding: 0.6vh 0.6vh;
    margin-bottom: 0.6vh;
    background-color: MediumSeaGreen;
}

.link_unvailable {
    text-decoration: line-through;
    cursor: default;
}

.profile_pic {
    border-radius: 75px;
}

.zoom { transition: transform .2s;}
.zoom:hover { transform: scale(1.125); }

.dropbutton {
    background-color: rgb(127, 194, 127);
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
    border: hidden;
}
.dropdown {
    width: calc(100%/4 - 4px);
    position: relative;
    display: inline-block;
    color: MediumSeaGreen;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbutton {
    background-color: MediumSeaGreen;
    border-bottom: 0.2vh solid black;
}


#profiles_table {
    padding-top: 13vh;
    border-spacing: 1.5vw 0;
}
#profiles_name {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(127, 194, 127);
}
#profiles_name td {
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    padding-top: 1.8vh;
}
#profiles_id_number {
    background-color: rgb(127, 194, 127);
}
#profiles_id_number td {
    border-bottom: 0.2vh solid black;
    padding-bottom: 1vh;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2), 6px 6px 20px 0 rgba(0,0,0,0.15);
}
#profile_pics {
    overflow: hidden;
}
#profile_pics td {
    padding-top: 2.3vh;
}